.intro__span-acent{
  position: absolute;
  width: 690px;
  height: 90px;
  margin-left: 148px;
  margin-top: 1572px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}
